### Student Activity: Returns Over Date Ranges

This program reads daily stock data from a CSV, trims extraneous columns, converts date strings to datetime objects, sets the datetimes as the index, and calculates and plots returns for specified date ranges.

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

### Read CSV in as DataFrame

In [2]:
# Set the path
file_path = Path("../Resources/amd_stock_data.csv")

# Read in the CSV as a DataFrame
csv_data = pd.read_csv(file_path)

### View Summary Statistics

In [3]:
# Output summary statistics for csv data
csv_data.describe()
csv_data.head()

      date  close    volume  open  high   low
0  4/29/09   3.51  11537950  3.40  3.56  3.38
1  4/30/09   3.61  18193730  3.55  3.73  3.53
2   5/1/09   3.82  16233940  3.55  3.90  3.55
3   5/4/09   4.26  21236940  3.90  4.30  3.83
4   5/5/09   4.32  16369170  4.36  4.39  4.11

### Drop Extra Columns

In [4]:
# Drop unnecessary columns
csv_data.drop(columns = ["volume", "open", "high", "low"], inplace=True)

### Set Date as Index

In [5]:
# Set the date as the index to the DataFrame
csv_data.set_index(pd.to_datetime(csv_data["date"], infer_datetime_format=True), inplace=True)

### Drop Extra Date Column

In [6]:
# Drop the extra date column
csv_data.drop(columns = ["date"], inplace=True)
csv_data

            close
date
2009-04-29   3.51
2009-04-30   3.61
2009-05-01   3.82
2009-05-04   4.26
2009-05-05   4.32
...           ...
2019-04-23  27.97
2019-04-24  28.46
2019-04-25  27.66
2019-04-26  27.88
2019-04-29  27.69

[2517 rows x 1 columns]

### Calculate Daily Returns

In [21]:
# Calculate the daily return over the last 10 years
daily_returns = csv_data.pct_change()
del daily_returns[0]
csv_data.

KeyError: 0

### Use Indexing to Create Date Ranges

In [8]:
# Slice DataFrame into 1 year timeframe


# Slice DataFrame into 3 year timeframe


# Slice DataFrame into 5 year timeframe


# Slice DataFrame into 10 year timeframe

### Output Summary Statistics for 1 Year of Daily Returns

In [9]:
# Display summary statistics for 1 year of AMD stock data

### Output Summary Statistics for 3 Years of Daily Returns

In [10]:
# Display summary statistics for 3 years of AMD stock data

### Output Summary Statistics for 5 Years of Daily Returns

In [11]:
# Display summary statistics for 5 years of AMD stock data

### Output Summary Statistics for 10 Years of Daily Returns

In [12]:
# Display summary statistics for 10 years of AMD stock data

### Plot 1 Year of Daily Returns

In [13]:
# Display chart of 1 year's worth of daily AMD returns

### Plot 3 Years of Daily Returns

In [14]:
# Display chart of 3 year's worth of daily AMD returns

### Plot 5 Years of Daily Returns

In [15]:
# Display chart of 5 year's worth of daily AMD returns

### Plot 10 Years of Daily Returns

In [16]:
# Display chart of 10 year's worth of daily AMD returns

### Analyze Daily Returns over Date Ranges

1. What are the average daily returns over each date range?

    * 1 Year = 
    * 3 Year = 
    * 5 Year = 
    * 10 Year = 
    
    
2. What insights could this provide in regards to wanting to trade AMD stock in the long-term vs. short-term?