### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSV as Pandas DataFrame

In [2]:
# Read in csv
csv_path = Path("../Resources/tsla_google_finance.csv")
tsla_df = pd.read_csv(csv_path)
tsla_df.head()

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Index Data by `Date`

In [3]:
# Set `Date` as index
tsla_df.set_index(pd.to_datetime(tsla_df["Date"], infer_datetime_format=True), inplace=True)
tsla_df.head()

                Date   Close
Date
2018-11-13  11/13/18  338.73
2018-11-14  11/14/18  344.00
2018-11-15  11/15/18  348.44
2018-11-16  11/16/18  354.31
2018-11-19  11/19/18  353.47

### Assess and Clean Data

In [4]:
# Check for nulls
tsla_df.isnull().sum()

# Drop missing values
tsla_df.dropna()

# Validate no more missing values
tsla_df.isnull().sum()

Date     0
Close    0
dtype: int64

### Calculate Daily Returns

In [5]:
# Calculate daily returns
daily_returns =

### Sort the DataFrame by `Close` to Get Records with Top Daily Returns

In [6]:
# Sort data by `Close` in descending order

### Slice Out 5 Records

In [7]:
# Slice out top 5

### Plot Top 5 Performing Days for TSLA Daily Returns

In [8]:
# Plot top 5 performing days

In [9]:
# Alternatively, visualizing the returns as a bar chart: