# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [2]:
csv_path = Path("../../Resources/stock_data.csv")
stock_csv = pd.read_csv(csv_path, index_col = "symbol")

### Identify the number of rows and columns (shape) in the DataFrame.

In [3]:
stock_csv.shape

(504, 13)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [4]:
stock_csv.sample(5)

,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
symbol,,,,,,,,,,,,,
LB,L Brands Inc.,Consumer Discretionary,47.77,12.77,4.886988,3.98,63.10,35.00,1.386204e+10,2.329000e+09,1.706098,1403.38,http://www.sec.gov/cgi-bin/browse-edgar?action...
AEP,American Electric Power,Utilities,63.38,17.32,3.847944,1.24,78.07,62.69,3.170192e+10,4.450800e+09,2.748993,1.81,http://www.sec.gov/cgi-bin/browse-edgar?action...
GIS,General Mills,Consumer Staples,53.99,17.53,3.586459,2.77,63.73,49.65,3.109824e+10,3.107600e+09,2.038918,7.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
SO,Southern Co.,Utilities,43.4,15.78,5.353023,2.53,53.51,42.63,4.349722e+10,6.012000e+09,2.508060,1.82,http://www.sec.gov/cgi-bin/browse-edgar?action...
EOG,EOG Resources,Energy,101.04,246.44,0.633390,-1.98,119.00,81.99,6.116403e+10,3.692749e+09,8.023020,4.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [5]:
#stock_csv.value_counts()
stock_csv.count()

name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify nulls records

In [6]:
stock_csv.isnull().sum()

name                   2
sector                 3
price                  4
price_per_earnings     7
dividend_yield         5
earnings_per_share     6
52_week_low            4
52_week_high           4
market_cap             4
ebitda                12
price_per_sales        4
price_per_book        12
sec_filings            4
dtype: int64

### Drop Null Records

In [7]:
stock_csv = stock_csv.dropna()

### Validate nulls have been dropped

In [8]:
stock_csv.isnull().sum()

name                  0
sector                0
price                 0
price_per_earnings    0
dividend_yield        0
earnings_per_share    0
52_week_low           0
52_week_high          0
market_cap            0
ebitda                0
price_per_sales       0
price_per_book        0
sec_filings           0
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [9]:
stock_csv["ebitda"].isnull().sum()
stock_csv["ebitda"] = stock_csv["ebitda"].fillna(0) 
stock_csv["ebitda"].isnull().sum()

0

### Drop Duplicates

In [13]:
stock_csv = stock_csv.drop_duplicates()

### Sample `price` field

In [16]:
stock_csv["price"].sample(5)

symbol
FAST     52.15
ALK      64.04
RSG      62.72
TROW    101.99
CB      140.39
Name: price, dtype: object

### Clean `price` Series by replacing `$`

In [15]:
stock_csv["price"] = stock_csv["price"].str.replace("$", " ")
stock_csv["price"]

C:\Users\range\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

symbol
MMM      222.89
ABT       56.27
ABBV     108.48
AYI      108.48
ADBE     185.16
         ...
XYL       70.24
YUM        76.3
ZBH      115.53
ZION      50.71
ZTS       71.51
Name: price, Length: 478, dtype: object

### Confirm data type of `price`

In [18]:
stock_csv["price"].dtype

dtype('O')

### Cast `price` Series as float and then validate using `dtype`

In [20]:
stock_csv["price"] = stock_csv["price"].astype("float")
stock_csv["price"].dtype
stock_csv["price"]

symbol
MMM     222.89
ABT      56.27
ABBV    108.48
AYI     108.48
ADBE    185.16
         ...
XYL      70.24
YUM      76.30
ZBH     115.53
ZION     50.71
ZTS      71.51
Name: price, Length: 478, dtype: float64